/* Global variables. */
:root,
::backdrop {


    --usaid-blue: #002F6C;
    --usaid-red: #BA0C2F;
    --rich-black: #212721;
    --medium-blue: #0067B9;
    --light-blue: #A7C6ED;
    --ultralight-blue: #a7c6ed73;
    --web-blue: #205493;
    --dark-red: #651D32;
    --dark-gray: #6C6463;
    --medium-gray: #8C8985;
    --light-gray: #f6f6f6;

    /* --h2-color: var(--usaid-blue);

    --color: var(--rich-black);

    --primary: var(--light-gray);
    --primary-hover: var(--medium-gray);
    --primary-inverse: var(--usaid-blue); */

    /* Set sans-serif & mono fonts */
    --sans-font: 'Source Sans Pro', sans-serif;
    --mono-font: Consolas, Menlo, Monaco, 'Andale Mono', 'Ubuntu Mono',
        monospace;
    --standard-border-radius: 5px;

    /* Default (light) theme */
    --bg: #fff;
    --accent-bg: var(--light-gray);
    --text: var(--rich-black);
    --text-light: var(--dark-gray);
    --border: var(--medium-gray);
    --accent: var(--usaid-blue);
    --accent-hover: var(--medium-blue);
    --accent-text: var(--light-gray);
    --accent-text-hover: #fff;
    --code: var(--dark-red);
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: var(--light-gray);
}